<span class="progress-bar">
  <span class="progress-item yellow" data-test-id="1">&nbsp</span>
  <span class="progress-item yellow" data-test-id="2">&nbsp</span>
  <span class="progress-item yellow" data-test-id="3">&nbsp</span>
  <span class="progress-item yellow" data-test-id="4">&nbsp</span>
  <span class="progress-item yellow" data-test-id="5">&nbsp</span>
  <span class="progress-item yellow" data-test-id="6">&nbsp</span>
  <span class="progress-item yellow" data-test-id="7">&nbsp</span>
  <span class="progress-item yellow" data-test-id="8">&nbsp</span>
  <span class="progress-item yellow" data-test-id="9">&nbsp</span>
  <span class="progress-item yellow" data-test-id="10">&nbsp</span>
</span>
