<div>
  <%= question.body %>
  <%= link_to t(".edit"), edit_question_path(question), class: 'btn btn-primary' %>
  <%= link_to t(".delete"), question_path(question), method: :delete, class: 'btn btn-primary' %>
</div>
