<% if flash.present? %>
  <div class="alert alert-success" role="alert">
    <% flash.each do |key, message| %>
      <%= content_tag :p, message, class: "flash #{key}" %>
    <% end %>
  </div>
<% end %>
