<% if flash.present? %>
  <% flash.each do |key, message| %>
    <%
      alert_types = {
          error:   :danger,
          notice:  :info,
          alert:   :danger
      }
    %>

    <div class="alert alert-<%= alert_types[key.to_sym] %>" role="alert">
      <%= content_tag :p, message %>
    </div>
  <% end %>
<% end %>


