<p>
<div>
  <%= github_url('Vitalii Lazebnyi',
                 'VitaliyLazebny/TestGuru') %>
  <%= current_year %>,
  TestGuru
</div>
<a href="http://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica"</a>
</p>