<p>
  <div>
    <%= github_url('Vitalii Lazebnyi',
                   'VitaliyLazebny/TestGuru') %>
    <%= current_year %>,
    <%= t('.testguru') %>
  </div>
  <a href="http://thinknetica.com" target="_blank"><%= t(".test_project") %></a>
</p>
